/* ----------------------------------------------------------------
	Canvas: Hostel
-----------------------------------------------------------------*/
@import url("css/inter-font/inter.css");

:root {
	--themecolor: #5c73fd;
	--themecolorrgba: 253,92,99;
	--slider-padding: 140px;
}

p { color: #777; }

/* Custom Header Size
-----------------------------------------------------------------*/
.header-size-custom #logo img {
	height: 70px;
}

@media (min-width: 992px) {

	.header-size-custom .header-wrap-clone {
		height: calc( 70px + 1px );
	}

	#header.header-size-custom + .include-header {
		margin-top: calc( -70px - 2px );
	}

	.header-size-custom .menu-container > .menu-item > .menu-link {
		padding-top: 24px;
		padding-bottom: 24px;
	}

}

#header .button {
	margin: 0;
	padding: 23px 34px;
}

.slider-element { padding: var(--slider-padding, 100px) 0 0; }

.col-form {
	margin-bottom: -5px;
}

.text-n-right {
	position: relative;
	padding: 0;
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	text-align: left;
}

.testimonials-carousel .testimonial {
	border: 0;
	box-shadow: none;
	padding: 0;
}

.testimonials-carousel .testimonial p {
	font-size: 17px;
	color: #444;
	font-family: 'PT Serif', serif;
	font-style: normal;
	margin-bottom: 25px;
	font-weight: 400;
}

.testimonials-carousel .owl-dots { text-align: left; }

.owl-carousel .owl-dots .owl-dot {
	margin-top: 0;
	width: 10px;
    height: 10px;
}

.studio-tab {
	-webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.studio-tab .nav-link {
	color: #444;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 2px;
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	margin-bottom: 2rem;
	font-size: 14px;
	font-weight: 600;
}

.studio-tab .nav-link:hover {
	color: var(--themecolor, #FD5C63);
}

.studio-tab .nav-link.active {
	border-bottom: 2px solid var(--themecolor, #FD5C63);
	color: var(--themecolor, #FD5C63);
}

.section-counter a.btn-link {
	font-size: 14px;
	text-decoration: underline !important;
}

.title-pricing {
	font-size: 44px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -2px;
}

.title-pricing span {
	color: #AAA !important;
	font-size: 20px;
	font-weight: 300;
	vertical-align: middle;
	letter-spacing: -1px;
}

.box-img {
	position: relative;
	box-shadow: 14px -14px 0 0 rgba(var(--themecolorrgba,253,92,99), 0.15);
}

.box-img.shadow-left {
	box-shadow: -14px -14px 0 0 rgba(var(--themecolorrgba,253,92,99), 0.15);
}

.toggle:not(:last-child) {
	border-bottom: 1px solid #EEE;
	padding-bottom: 15px;
}

#footer {
	border-top: 1px solid #EEE;
}

#footer .widget > h4 {
	font-size: 16px;
	font-weight: 500;
}

#footer address,
.copyrights-menu a,
#footer .widget ul li a {
	font-size: 14px;
	color: #777;
}

.section-counter h2.counter,
.section-counter h2.counter span {
	font-size: 4.3rem;
	line-height: 1.2;
	color: #444;
	font-weight: 300;
	letter-spacing: -3px;
}

.form-availability-success #form-availability { display: none; }

.form-availability-loader.css3-spinner {
	background-color: rgba(255,255,255, 0.8);
	z-index: 1;
}
.form-availability-loader.css3-spinner > div { background-color: rgba(var(--themecolorrgba,253,92,99), 0.6); }

body:not(.form-availability-processing) .form-availability-loader { display: none; }

.button-play i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(1);
	color: #FFF;
	font-size: 28px;
	background-color: rgba(255,255,255, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	line-height: 58px;
	text-align: center;
	padding-left: 4px;
	transition: transform .3s ease;
}

.button-play:hover i {
	transform: translate(-50%,-50%) scale(1.1);
}

.owl-carousel-full.full-nav .owl-nav [class*=owl-] {
	opacity: 1 !important;
	top: 0;
	margin-top: 0;
	height: 100%;
	border-radius: 0;
	background: transparent;
	padding: 0 30px;
}

.owl-carousel-full.full-nav .owl-nav [class*=owl-]:hover { background: rgba(0,0,0,0.07) !important; }

.owl-carousel-full.full-nav .owl-dots {
	position: absolute;
	left: 50%;
	bottom: 15px;
	transform:  translateX(-50%);
}

.owl-carousel-full.full-nav .owl-dots .owl-dot { background: #FFF; }

[data-toggle="collapse"][aria-expanded="true"] { display: none; }


/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	.menu-link {
		font-weight: 600;
		letter-spacing: 0;
	}

	.menu-item > .menu-link::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		transform: scaleX(0);
		border-bottom: 3px solid var(--themecolor, #FD5C63);
		transform-origin: 0 100%;
		-webkit-transition: all .25s cubic-bezier(.02, .01, .5, 1);
			-o-transition: all .25s cubic-bezier(.02, .01, .5, 1);
				transition: all .25s cubic-bezier(.02, .01, .5, 1);
	}

	.menu-item.active > .menu-link,
	.menu-item.current > .menu-link { color: var(--themecolor, #FD5C63); }

	.menu-item.menu-link:hover::after,
	.menu-item.active > .menu-link::after,
	.menu-item.current > .menu-link::after {
		transform: scaleX(1);
		transform-origin: 100% 0;
	}

	.section {
		padding: 100px 0;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.text-n-right {
		padding: 30px;
		font-size: 48px;
		line-height: 64px;
		margin-right: -48px;
		text-align: right;
		z-index: 1;
		background-color: #FFF;
		-webkit-transform: translateX(16%);
		transform: translateX(16%);
	}

	.section-counter h2.counter,
	.section-counter h2.counter span {
		font-size: 72px;
		line-height: 86px;
	}

	.testimonials-carousel .owl-dots,
	.testimonials-carousel .testimonial {
		text-align: right;
	}

}